@charset "utf-8";
/* CSS Document */
/*样式重置*/
*{margin:0px;padding:0px;list-style:none;text-decoration:none;font-family:"微软雅黑", "宋体", "黑体";font-weight:normal;}
/*页头*/

/*#headCon>ol{
	width:1200px;
	height:500px;
	margin:auto;
	background:url(../images/banner02_03.jpg) center no-repeat;
	margin-top:20px;}*/
/*内容*/
#contentCon{
	width:1200px;
	margin:auto;
	margin-top:50px;
	overflow:hidden;}
#contentCon>.left{
	float:left;
	width:264px;
	height:664px;
	border:1px solid #dcdcdc;
	text-align:center;}
#contentCon>.left>div{
	width:134px;
	height:134px;
	border-radius:67px;
	background:url(../images/001.jpg) center no-repeat;
	margin-top:40px;
	margin-left:66px;}
#contentCon>.left>p{
	font-size:18px;
	color:#4c4c4c;
	margin-top:30px;}
#contentCon>.left>a{
	display:block;
	width:103px;
	height:34px;
	border:1px solid #d2d2d2;
	background:#eee;
	text-align:center;
	line-height:34px;
	color:#4c4c4c;
	margin-top:20px;
	margin-left:80px;}
#contentCon>.left>span{
	display:block;
	width:224px;
	height:1px;
	background:#eee;
	margin-left:22px;
	margin-top:22px;}
#contentCon>.left>ul>li>a{
	font-size:14px;
	display:block;
	margin-top:20px;
	color:#4c4c4c;}
#contentCon>.left>ul>li>.my{
	color:#fb0000;}
#contentCon>.right{
	float:left;
	width:876px;
	margin-left:50px;}
#contentCon>.right>ul{
	overflow:hidden;}
#contentCon>.right>ul>p{
	text-align:center;
	float:left;
	width:112px;
	height:34px;
	font-size:18px;
	border-bottom:1px solid #d2d2d2;
	border-right:1px solid #d2d2d2;
	color:#fb0000;}
#contentCon>.right>ul>span{
	float:left;
	width:762px;
	height:1px;
	background:#d2d2d2;
	}
#contentCon>.right>div{
	margin-left:20px;
	overflow:hidden;}
#contentCon>.right>div>ol{
	float:left;}
#contentCon>.right>div>ol>li{
	font-size:18px;
	color:#4c4c4c;
	margin-top:50px;}
#contentCon>.right>div>ul{
	float:left;
	margin-left:100px;}
#contentCon>.right>div>ul>p{
	font-size:18px;
	color:#4c4c4c;
	margin-top:50px;
	}
#contentCon>.right>div>ul>div{
	margin-top:50px;}
#contentCon>.right>div>ul>div>input{
	width:166px;
	height:36px;
	border:1px solid #d2d2d2;
	font-size:18px;
	color:#4c4c4c;
	padding-left:18px;}
#contentCon>.right>div>ul>ol{
	margin-top:40px;}
#contentCon>.right>div>ul>ol>input{
	width:18px;
	height:18px;}
#contentCon>.right>div>ul>ol>.woman{
	margin-left:40px;}
#contentCon>.right>div>ul>ol>label{
	font-size:18px;
	color:#4c4c4c;
	padding-left:10px;}
#contentCon>.right>div>ul>li{
	margin-top:50px;}
#contentCon>.right>div>ul>li>select{
	width:58px;
	height:22px;}
#contentCon>.right>div>ul>li>.moonth{
	margin-left:15px;}
#contentCon>.right>div>ul>li>label{
	margin-left:10px;}
#contentCon>.right>span{
	display:block;
	width:800px;
	height:1px;
	background:#eee;
	margin-top:50px;}
#contentCon>.right>a{
	display:block;
	width:90px;
	height:30px;
	color:#fff;
	line-height:30px;
	text-align:center;
	font-size:18px;
	background:#fb0000;
	margin-top:30px;
	margin-left:184px;}

